.contacto {
    min-height: 100vh;
    background: linear-gradient(to bottom, #01A2F6, #01549c);
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9e5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-title {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.contact-description {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
    font-size: 18px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #444;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}

.form-group textarea {
    resize: vertical;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.additional-contact-info {
    margin-top: 20px;
    text-align: center;
}

.additional-contact-info p {
    font-size: 16px;
    color: #666;
}

.additional-contact-info ul {
    list-style: none;
    padding: 0;
}

.additional-contact-info ul li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.correo-contacto,
.link-instagram {
    color: #003366;
    text-decoration: none;
    font-size: 18px;
}
