@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    color: whitesmoke;
    text-align: center;
    display: flex;
    padding-top: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 2s ease-in-out forwards;
    font-family: 'Poppins', sans-serif;
}

.title-hero {
    font-size: 5vh;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    text-shadow: 
        1px 1px 0 #b6c2bd,
        3px 3px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.05em; 
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 0.5s forwards;
}

.subtitle-hero {
    padding-top: 1.5vh;
    font-size: 3.5vh;
    color: #84f3ca;
    opacity: 0;
    animation: fadeInUp 1.4s ease-in-out 1s forwards;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.description-hero {
    margin-left: 2vh;
    margin-right: 2vh;
    padding-top: 1.2vh;
    font-size: 2.2vh;
    color: whitesmoke;
    opacity: 0;
    animation: fadeInUp 1.4s ease-in-out 1.5s forwards;
}
