.home {
    min-height: 100vh;
    background-image: url('https://img.freepik.com/vector-premium/fondo-pantalla-tecnologia-futurista-azul_23-2148498428.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 0;
}
