.home {
    min-height: 100vh;
    background-image: url('https://www.muralesyvinilos.com/murales/950176_champions-league_estadio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 0;
}
