.redes {
    min-height: 100vh;
    background: #01A2F6;
    background: linear-gradient(to bottom, #01A2F6, #01549c);
    padding-top: 20vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.cards-container-redes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card-redes {
    background: #ffffff;
    color: #1F86BC;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-redes:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-title-redes {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #19638b;
}

.card-text-redes {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.card-button-redes {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #ecf5fa;
    background: linear-gradient(45deg, #0bc480, #049b64);
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-button-redes:hover {
    background-color: #1F86BC;
    color: #e9ecee;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #19638b;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-redes {
    background: #ffffff;
    color: #1F86BC;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInSlide 1s ease-out forwards;
}

.card-redes:nth-of-type(1) {
    animation-delay: 0.5s;
}

.card-redes:nth-of-type(2) {
    animation-delay: 1s;
}

.card-redes:nth-of-type(3) {
    animation-delay: 1.5s;
}
